
<div class="container">
  <strong>Commenter:</strong>
  <%= comment.commenter %>
  <br>

  <strong>Comment:</strong>
  <%= comment.body %>
  <br>

  <%= link_to 'Delete Comment', [comment.article, comment],
               method: :delete,
               data: { confirm: 'Are you sure?'},
               class: "btn btn-sm btn-primary"  %>
  <br><br>
</div>
